.Login {
    margin-top:50px;
    margin-bottom:50px;
}

.title-box {
    text-align:center;
    
}

.form-control {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.form-control > input, .form-control > label {
    padding:10px;
}

button {
    margin-top : 10px;
    width:100px;
    height:30px;
}